{% extends "header.html" %}

{% block body%}
<br><br><br><br><br><br>
<section>
    {% for about_us in about_us %}
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4"></div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <center><h4 class="font-weight-bold text-center" style="text-align:center;">{{ about_us.heading }}</h4></center>
              </div>
            <div class="col-sm-4 col-md-4 col-lg-4"></div>
        </div>
        <hr style="width:75px;height:3px;margin:auto;" color="black"><br>
    </div>

    <div class="container-fluid">
        
        <div class="row gy-3" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-sm-10 col-md-10 col-lg-10 p-3">
                {{about_us.description|safe}}
            </div>
        </div>
    </div>
    {% endfor %}
</section>


{% endblock %}