{% extends "header.html" %}

{% block body%}
<section>
    {% for about_us in about_us %}
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4"></div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <center><h4 class="font-weight-bold text-center" style="text-align:center;">{{ about_us.heading }}</h4></center>
              </div>
            <div class="col-sm-4 col-md-4 col-lg-4"></div>
        </div>
        <hr style="width:75px;height:3px;margin:auto;" color="black"><br>
    </div>

    <div class="container-fluid">
        
        <div class="row gy-3" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-10 col-md-10 col-lg-12 p-3">

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                    <p class="text-center">!! BHARAT MATA KI JAY !!</p>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div style="padding: 5px;">
                            <img style="border: 10px double black;margin:8px;width:350px;height:250px;float:left;" src="https://weashishbhardwaj.in/media/images/introduction-min_c8Yj6iO.jpg" alt="Ashish Bhardwaj">
                        </div>
                        <p style="text-align: justify;">
                            Ashish Bhardwaj is a firebrand nationalist leader by heart and a devoted social activist
                            by work and a journalist by profession.   
                        </p>

                        <p style="text-align: justify;">
                            Ashish Bhardwaj was born to Smt. Rima Devi and Shri Panini Upadhyay, in a 
                            lower-middle-class Brahmin family in the year 1995 in Ankraha(A tola of Chetma Village) 
                            of Patan block palamu district Jharkhand.
                        </p>

                        <p>
                            During his childish age, he lived in his parental village in a big joint family and his 
                            first teacher was his mother from where he got values and basic educations. 
                            Being the son of a mother who is not so much educated but believes in educating her 
                            children, so she along with his father shifted to Daltonganj(Nearby city to the village) 
                            for better education of her first child.               
                        </p>

                        
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <img style="border: 10px double black;margin:8px;width:400px;height:322px;float:right;" src="https://weashishbhardwaj.in/media/images/aas6-min.jpg" alt="Ashish Bhardwaj">
                        </div>
                        <p style="text-align:justify;">
                            The early ages in this new city of this family were very difficult but somehow his 
                            father managed to enroll him in a famous school of that time in the city that is 
                            Gyan Niketan where he has completed his primary education. He was a bright student 
                            from his school days and took a lot of interest in historical subjects.
                        </p>

                        <p style="text-align:justify;">
                            Further, he moved to Ranchi the capital of Jharkhand and completed his secondary and 
                            degree education from St. Xavier's College Ranchi. During his college days, he took 
                            active participation in co-curricular activities and there is the thought of bringing a 
                            change for the betterment of society came up in his mind. Further, he completed his 
                            higher education from NPU Daltonganj.
                        </p>

                        <p style="text-align:justify;">
                            From childhood, he was a courageous boy full of self-confidence and moral values 
                            carrying the thoughts of legend Bhagat Singh Ji.He belives in the thought of 
                            "जननी जन्मभूमिश्च स्वर्गादपि गरीयसी" and "वीर भोग्या वसुंधरा". Apart from Bhagat Singh Ji, he is a 
                            blind disciple of Chhatrapati Shivaji Maharaj, Chandra Shekhar Azad and Subhas 
                            Chandra Bose.
                        </p>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <img style="border: 10px double black;margin:8px;width:400px;height:322px;float:left;" src="https://weashishbhardwaj.in/media/images/vhbfvb-min.jpg" alt="Ashish Bhardwaj">
                        </div>

                        <p style="text-align:justify;">
                            He was groomed in a patriotic and nationalistic environment of his big joint family. 
                            Out of pumping nationalistic feelings, he went on to learn more about national heroes 
                            and legacy and eventually was highly touched by them as he is very close to his mother 
                            so he got values and discipline from there he has hired the qualities of a prolific 
                            leader as much valor, bravery, and perseverance for his goals from his family. 
                            The boon of nationalism was inside his heart from his childhood age and always ready to 
                            do anything and die for "Bharat Mata". There are uncountable stories of him that show 
                            his dedication and devotion towards this holy land India.
                        </p>

                        <p style="text-align:justify;">
                            Since he was elder among three children of his parents and the condition of his family 
                            was not so good so he involved himself in various works to earn during his studies. 
                            He moved to many cities like Delhi, Mumbai, Varanasi, and many more to earn for his 
                            family but he didn't get satisfaction anywhere because he was interested in serving the 
                            nation. That fire of change didn't let him sleep.
                        </p>
                        
                        <p style="text-align:justify;">
                            As goes the saying destination is decided in the cradles proving the saying 
                            Ashish Bhardwaj started showing his impetus social dedication and love for the society 
                            from the very early days. He was highly inspired by the ideas of Shyama prasad Mukherjee, 
                            Pt. Din Dayal Upadhyay, and Atal Bihari Vajpayee and participated in various dialogues and 
                            debates and he found himself standing against the anti-nationals and those every word that 
                            smells like this. In the year 2014, he joined the Bhartiya Janta Party as a party worker and 
                            at present he is the leader of BJYM (Youth wing of Bhartiy Janta Party)  ,palamu and continues 
                            to serve the party inspired by the idea of nationalism and devotion towards the nation, 
                            "विहाय कामान् य: कर्वान्पुमांश्चरति निस्पृह:। निर्ममो निरहंकार स शांतिमधिगच्छति।।" by following this shloka of 
                            Bhagwat Geeta he wants to fully commit himself for "Matri Bhoomi, to his Janani" soon 
                            Ashish Bhardwaj got it that it is this diaspora of RSS which will provide him the platform 
                            to serve India and it's people in the way he wanted to serve. In the same year of 2014 he 
                            started to serve as the "swayam Sevak" of राष्ट्रीय स्वयंसेवक संघ .
                        </p>

                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <img style="border: 10px double black;margin:8px;width:400px;height:322px;float:right;" src="https://weashishbhardwaj.in/media/images/wikipidea-min.jpg" alt="Ashish Bhardwaj">
                        </div>
                        
                        <p style="text-align:justify;">
                            Despite having diaspora all set to go on and engross himself into personal love and 
                            growth, he aborted all these worldly pleasures. As the waves are uncontrollable hence 
                            were the laments of poor and underprivileged, torched, crushed people of society were 
                            making him a deafening scream in his ears demanding him to fully engross himself for 
                            social welfare. Janani was lamenting for her son to pay back her debt.
                        </p>

                        <p style="text-align:justify;">
                            In the end, he could not take it anymore and ended up all his professional career and 
                            fully got himself indulged completely for the society.
                        </p>

                        <p style="text-align:justify;">
                            There goes a famous saying that great people are not born rather they are born out of 
                            the naturalistic demand of the soil of their birth. Their population could be thin, 
                            sometimes countable on fingers. But the shine of this legacy becomes exempt ray and 
                            goes on to motivate generations. Some are born for themselves and some are to serve 
                            others and Ashish Bhardwaj is complete of the second type and proving himself day by day 
                            with his works every time whenever state, district, or his people requires him he stands over 
                            there for their betterment and well being he proves it by his work by serving the whole society 
                            during this massive covid period of the first and second phase. When people were fearing to 
                            come out from their homes he was on the ground for the people by his every means and in every 
                            way, he was serving them, either by providing them dry food, packed cooked food, medicines, 
                            oxygen cylinders, or by transporting them he was there for the people to serve them day and 
                            night continuously this shows his dedication towards his motherland and his people.
                        </p>

                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p style="text-align:justify;">
                            While leaving in Daltonganj a small city of Jharkhand This comrade Ashish Bhardwaj is 
                            often and continuously indulged in social welfare and upliftment programs by his means.
                            He is working for Preserving cultural ethnicity working hand in hand together for 
                            all-round rocketing upliftment of our society whatever is in his capability, he is 
                            paying his everything to his Bharat Mata by serving the people, serving the nation he is 
                            a new ray of hope new radiants of a sunshine kiss through his Nobel work he is cherishing 
                            the mother India.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <img style="border: 10px double black;" width="100%" src="https://weashishbhardwaj.in/media/images/aas25-min.jpg" alt="Ashish Bhardwaj">
                    </div>
                </div>    
                <br>        
                
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="text-center">!! JAY HIND VANDE MATRAM !!</p>
                    </div> 
                </div>              

            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
    </div>
    {% endfor %}
</section>


{% endblock %}