{% extends "header.html" %}

{% block body%}
  <section style="margin-top: 13%;">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">

                  {% for event_data in event_data %}
                  <div class="card border-success">
                    <img class="card-img-top img-fluid" src="{{event_data.event_poster.url}}" alt="{{event_data.event_heading}}">
                    <div class="card-body border-top border-success">
                      <h2 class="card-title">{{event_data.event_heading}}</h2>
                      <br>
                      <p class="card-text">{{event_data.event_description|safe}}</p>
                      <p class="card-text">Venue :- {{event_data.event_venue}}</p>
                      <p class="card-text">Event on <i class="far fa-clock"></i> {{event_data.event_start_date|date:"d M,Y"}} - {{event_data.event_end_date|date:"d M,Y"}}</p>
                    </div>
                  </div>
                  {% endfor %}

              </div>
          </div>
          <br>
      </div>
  </section>

{% endblock %}