{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Ashish Bhardwaj</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="{% static 'css/ihover.css' %}" rel="stylesheet">
<link href="{% static 'css/ihover.min.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body style="font-family: 'Varela Round', sans-serif;">
  <style>
    .navbar-toggler {
      border: none;
      background: transparent !important;
    }
    
    .navbar-toggler:focus {
      outline: none;
      background: transparent !important;
    }

    .navbar-toggler .icon-bar {
      background-color: #fff;
      transform: rotate(0deg) translate(0px, 0px);
      transition: ease all .2s;
    }

    .navbar-toggler .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: black;
    }

    .navbar-toggler .icon-bar+.icon-bar {
      margin-top: 4px;
    }

    .icon-bar:nth-child(2) {
      width: 16px;
      transition: ease all .2s;
    }

    .navbar-toggler:hover>.icon-bar:nth-child(2) {
      width: 22px;
      transition: ease all .2s;
    }

    .navbar-toggler:active>.icon-bar:nth-child(2) {
      width: 22px;
      transition: ease all .2s;
    }

    .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 4px);
      transition: ease all .2s;
    }

    .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
      opacity: 0;
      transition: ease all .2s;
    }

    .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
      transition: ease all .2s;
    }

    center h4{
      color: #f93;
    }

    .nav-link-hover:hover{
      color: #f93 !important;
    }

    .dropdown-item{
      background: linear-gradient(to right, #f93 50%, white 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
    }

    .dropdown-item:hover{
      background-position: left bottom;
    }

  </style>
  
    <header class="text-white fixed-top">
      <div class="container-fluid">
        {% for about_us in about_us%}
        <div class="row" style="background-color:#f93;">
          <div class="col-lg-12 col-sm-12 col-md-12 p-3 text-center">
            <a style="text-decoration:none;color: white;" href="{{about_us.social_facebook}}"> <i class="fab fa-facebook" aria-hidden="true" style="font-size: 25px;"></i></a>  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration:none;color: white;" href="{{about_us.social_twitter}}"> <i class="fab fa-twitter" aria-hidden="true" style="font-size: 25px;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration:none;color: white;" href="{{about_us.social_youtube}}"> <i class="fab fa-youtube" aria-hidden="true" style="font-size: 25px;"></i></a>  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration:none;color: white;" href="{{about_us.social_instagram}}"> <i class="fab fa-instagram" aria-hidden="true" style="font-size: 25px;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration:none;color: white;" href="{{about_us.wikipedia}}"> <i class="fab fa-wikipedia-w" aria-hidden="true" style="font-size: 25px;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration:none;color: white;font-size: 25px;font-weight: bolder;" href="{{about_us.koo}}"><img width="30px" height="30px" src="../../media/images/koo.png" alt="Koo"></a>
          </div>
        </div>
        {% endfor %}
      </div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" id="brand" href="{% url 'index' %}">
              <img class="rounded" src="{% static 'images/Ashish-bhardwaj-Logo-png.png' %}"/><br>
              Nation First, Self Last
            </a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
              <span class="sr-only">Toggle navigation</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" style="font-size: 20px;">
              <li class="nav-item">
                <a class="nav-link nav-link-hover" href="{% url 'index'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-hover" href="{% url 'about_us'%}">About</a>
              </li>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gallery
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% for dropdown_data in dropdown_data %}
                  <a class="dropdown-item" href="{% url 'gallery_detail' dropdown_data.category %}">{{dropdown_data.category}}</a>
                  {% empty %}
                  <a class="dropdown-item" href="{% url 'gallery' %}">gallery</a>
                  {% endfor %}
                </div>

              </li>
  
              <li class="nav-item">
                <a class="nav-link nav-link-hover" href="{% url 'videos' %}">Videos</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Press
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'press' "News" %}">News</a>
                  <a class="dropdown-item" href="{% url 'press' "Debate" %}">Debate</a>
                  <a class="dropdown-item" href="{% url 'press' "Interviews" %}">Interviews</a>
                  <a class="dropdown-item" href="{% url 'press' "Press releases" %}">Press releases</a>
                </div>              
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My views
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'blog' %}">Blog</a>
                </div>
              </li>
  
              <li class="nav-item">
                <a class="nav-link nav-link-hover" href="{% url 'contact_us' %}">Contact Us</a>
              </li>
  
            </ul>
          </div>
        </div>
      </nav>

    </header>
{% block body %}

{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"></script>-->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script src="https://kit.fontawesome.com/6a0ca021ad.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  $('document').ready(function(){
    AOS.init({
      once: true
    });
  });
</script>
<footer>
  <style>
    .contact{
      background: transparent;
      border-style:none none solid none;
      border-radius:0;
      color:white!important;
    }
    .contact:focus{
      outline-style: none;
      box-shadow: none;
      background-color:transparent;
      border-color: #f93;
      color:white!important;
    }

    .contact::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color:white!important;
    }

    .map-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../media/images/map.jpg");
      background-color: #cccccc;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .footer-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../media/images/map.jpg");
      background-color: #cccccc;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

  </style>
  <div class="container-fluid map-image" style="bottom:0;margin-bottom: 0px;margin-top:60px;font-family: 'Varela Round', sans-serif;">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4"></div>
      <div class="col-sm-4 col-md-4 col-lg-4">
          <br>
          <center><h4 class="font-weight-bold text-center" style="text-align:center;color: white !important;;">Contact us</h4></center>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4"></div>
    </div>
    <hr style="width:75px;height:3px;margin:auto;" color="white"><br>

    <div class="row">
     
      <div class="col-sm-8 col-md-8 col-lg-8">
        <!-- Contact Form Start-->
            <br>
            <form id="contact_form" method="POST">
                  
                  <div class="controls">
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12" id="alert_box">

                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                              <div class="form-group">
                                  <input id="form_name" type="text" name="name" class="form-control contact" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                              </div>
                          </div>

                          <div class="col-md-6 col-sm-6">
                              <div class="form-group">                                  
                                  <input id="form_lastname" type="text" name="surname" class="form-control contact" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">                                  
                              </div>
                          </div>

                      </div>

                      <div class="row">

                          <div class="col-md-6 col-sm-6">
                              <div class="form-group">                                  
                                  <input id="form_email" type="email" name="email" class="form-control contact" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">                                  
                              </div>
                          </div>

                          <div class="col-md-6 col-sm-6">
                              <div class="form-group">
                                  <div class="form-group">                                      
                                      <input id="subject" type="text" name="subject" class="form-control contact" placeholder="Please enter the subject" required="required" data-error="Subject is required.">                                      
                                  </div>                                  
                              </div>
                          </div>

                      </div>

                      <div class="row">
                          <div class="col-md-12 col-sm-12">
                              <div class="form-group">
                                  <textarea style="resize:none;" id="form_message" name="message" class="form-control contact" placeholder="Message for us *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <input type="submit" id="submit_btn" class="btn btn-success btn-send" value="Send message">
                          </div>
                      </div>

                  </div>
              
            </form>

            <script>
              $(document).ready(function() {
                    const contact     = document.getElementById('contact_form');
                    const alertbox    = document.getElementById('alert_box');
                    const formdata    = new FormData()
                    $('#contact_form').on('submit', function(e){
                      $("#submit_btn").attr("disabled", true);
                      e.preventDefault();
                      $.ajax({
                        type:'POST',
                        url:"{% url 'index' %}",
                        data:{
                          name : $('#form_name').val(),
                          surname : $('#form_lastname').val(),
                          email:$('#form_email').val(),
                          subject:$('#subject').val(),
                          message:$('#form_message').val(),
                          csrfmiddlewaretoken: '{{ csrf_token }}',
                          dataType: "json",
                        },
                        success:function(response){
                          contact.reset()
                          $("#submit_btn").attr("disabled", false);
                          alertbox.innerHTML=`<div class="alert alert-success alert-dismissible fade show" role="alert">`
                                                +response.message+
                                                `<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>`
                        },
                        error:function(error){
                          $("#submit_btn").attr("disabled", false);
                          alertbox.innerHTML=`<div class="alert alert-danger alert-dismissible fade show" role="alert">`
                                                +response.message+
                                                `<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>`
                        },
                      });               
                
                    });
              });
            </script>

            
        <!-- Contact Form End-->
        <br>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
        {% for about_us in about_us%}
          <div style="font-size: 22px;color: white;">
            <h5 style="font-weight:bold;font-size:22px;color: white;">EMAIL ADDRESS</h5>
            <i class="fas fa-envelope" aria-hidden="true" style="color: white;font-size:20px;"></i> {{about_us.email_id}}
          </div><br>

          <div style="font-size: 22px;color: white;">
            <h5 style="font-weight:bold;font-size:22px;color: white;">PHONE</h5>
            <i class="fas fa-phone-alt" aria-hidden="true" style="color: white;font-size:20px;"></i>&nbsp;&nbsp;&nbsp;{{about_us.phone_number}}
          </div><br>

          <div style="font-size: 22px; color: white;">
            <h5 style="font-weight:bold;font-size:22px;color: white;">LOCATION</h5>
            <i class="fas fa-map-marker-alt" aria-hidden="true" style="color: white;font-size:20px;"></i>&nbsp;&nbsp;&nbsp;{{about_us.location}}
          </div>

        {% endfor %}

      </div>
      
    </div>

  </div>
  <div class="container-fluid footer-image">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 p-3">
        <div class="text-center text-white">
          <h2 style="font-weight: bolder;">Ashish Bhardwaj</h2>
        </div>
      </div>
    </div>

    {% for about_us in about_us%}
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-md-12 text-center">
            <a style="text-decoration:none;color: white;" href="{{about_us.social_facebook}}"> <i class="fab fa-facebook" aria-hidden="true" style="font-size: 25px;"></i></a>  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration:none;color: white;" href="{{about_us.social_twitter}}"> <i class="fab fa-twitter" aria-hidden="true" style="font-size: 25px;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration:none;color: white;" href="{{about_us.social_youtube}}"> <i class="fab fa-youtube" aria-hidden="true" style="font-size: 25px;"></i></a>  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration:none;color: white;" href="{{about_us.social_instagram}}"> <i class="fab fa-instagram" aria-hidden="true" style="font-size: 25px;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration:none;color: white;" href="{{about_us.wikipedia}}"> <i class="fab fa-wikipedia-w" aria-hidden="true" style="font-size: 25px;"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a style="text-decoration:none;color: white;font-size: 25px;font-weight: bolder;" href="{{about_us.koo}}"><img width="30px" height="30px" src="../../media/images/koo.png" alt="Koo"></a>
          </div>
        </div>
    {% endfor %}
    <hr width="90%" color="white">
    <p style="margin-left:5%;color: white;">Copyright © Ashish Bhardwaj <script>document.write(new Date().getFullYear())</script> All Rights Reserved.</p>
    <br>
  </div>

</footer>
</body>
</html>