{% extends "header.html" %}

{% block body%}
<style type="text/css">
  .item{
    transition: .5s ease-in-out;
  }
  .item:hover{
    filter: brightness(80%);
  }
  
  .fancybox-nav {
    top: 50%;
    transform: translateY(-50%);
    height: 40%; 
  }

.fancybox-video{
  max-width: 640px;
  }

</style>
<section style="margin-top: 13%;">

  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4"></div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <center><h4 class="font-weight-bold text-center" style="text-align:center;">{{request.path | slice:"7:"}}</h4></center>
          </div>
        <div class="col-sm-4 col-md-4 col-lg-4"></div>
    </div>
    <hr style="width:75px;height:3px;margin:auto;" color="black"><br>
  </div>

  <div class="container-fluid">

      <div class="row mt-4" data-aos="fade-up" data-aos-duration="2000">
        {% for press_data in press_data %}
        <div class="item col-sm-6 col-md-4 mb-3">
              <div class="card">
                  <img src="{{press_data.press_thumbnail.url}}" width="100%" height="300px">
                  <div class="card-body bg-light">
                    <p class="card-text">{{press_data.press_heading}}</p>
                    <a href="{% url 'press_detail' press_data.id %}" class="btn btn-primary">Details >></a>
                  </div>
              </div>
        </div>
        {%empty%}
        <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="font-size:36px;">No data found</div>
        {% endfor %}
      </div>
       
  </div>
</section>

{% endblock %}




