{% extends "header.html" %}

{% block body%}
<br><br><br><br>


<section>
  <div class="container-fluid">
    <div class="row mt-4" data-aos="fade-up" data-aos-duration="2000">

      {% for press_data_single in press_data_single %}
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body bg-light">
            <h4 class="card-title">{{press_data_single.press_heading}}</h4>
            <span>{{press_data_single.created_at|date:"d M ,Y"}}</span>
            <p class="card-text">{{press_data_single.press_description|safe}}</p>
          </div>
        </div>
      </div>
      {%empty%}
      <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="font-size:36px;">No data found</div>
      {% endfor %}
      
    </div>
  </div><br>
</section>

{% endblock %}




