{% extends "header.html" %}

{% block body%}

<section>
    <br>
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <center><h4 class="font-weight-bold text-center" style="text-align:center;">Volunteer</h4></center>
            </div>
          <div class="col-sm-4 col-md-4 col-lg-4"></div>
        </div>
        <hr style="width:75px;height:3px;margin:auto;" color="black"><br>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 col=md-1 col-lg-1"></div>
            <div class="col-sm-10 col=md-10 col-lg-10">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12" id="alertBox"></div>
                </div>

                <form id="volunteer" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Name">First Name:</label>
                        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Name">Last Name:</label>
                        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" required>
                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="Email">Email:</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Name">Phone Number:</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone no." required>
                    </div>

                </div>

                <div class="form-group">
                    <label for="Address">Address:</label>
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address" required>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="City">City:</label>
                        <input type="text" class="form-control" placeholder="City Name" name="city" id="city" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="State">State:</label>
                        <input type="text" class="form-control" name="state" id="state" placeholder="State" required>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="textarea">Why do you want to join us ?</label>
                        <textarea style="resize:none;" id="message" name="message" class="form-control" placeholder="आप हमसे क्यों जुड़ना चाहते हैं ?" rows="4" required="required"></textarea>
                    </div>
                </div>               
                
                <button type="submit" id="Submit" class="btn btn-success">Register</button>

                </form>

                <script>
                    $(document).ready(function() {
                        const form_id     = document.getElementById('volunteer');
                        const alertbox    = document.getElementById('alertBox');
                        $('#volunteer').on('submit', function(e){
                            $("#Submit").attr("disabled",true);
                            e.preventDefault();
                            $.ajax({
                                type:'POST',
                                url:"{% url 'volunteer' %}",
                                data:{
                                    firstname    : $('#firstname').val(),
                                    lastname     : $('#lastname').val(),
                                    email        : $('#email').val(),
                                    phone_number : $('#phone').val(),
                                    address      : $('#address').val(),
                                    city         : $('#city').val(),
                                    state        : $('#state').val(),
                                    about        : $('#message').val(),
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                    dataType: "json",
                                },
                                success:function(response){
                                    form_id.reset()
                                    $("#Submit").attr("disabled", false);
                                    alertbox.innerHTML = `<div class="alert alert-success alert-dismissible fade show" role="alert">`
                                                            +response.message+
                                                            `<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>`
                                },
                                error:function(error){
                                    $("#Submit").attr("disabled", false);
                                    alertbox.innerHTML=`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                        Ups... something went wrong
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>`
                                },
                            });
                        });
                    });
                </script>




            </div>
            <div class="col-sm-1 col=md-1 col-lg-1"></div>
        </div>
        <br>
    </div>
</section>
{% endblock %}